@{
    ViewData["Title"] = "Home Page";
    bool isAuth =(string) ViewData["isAuth"] == "True" ? true : false;
    string action = isAuth ? "Load" : "InitiateAuth";
    string massege = isAuth ? "Load Account" : "Authorize Account";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    <div class="col-8 offset-2 col-sm-2 offset-sm-5 text-center mb-2"> <a class="btn btn-primary" asp-action="@action">@massege</a></div>
    @{ 
        if (isAuth)
        {
            <div class="col-8 offset-2 offset-sm-2 col-sm-2 text-center">
                <a asp-action="CancelAuth"class="btn btn-outline-primary">Cancel Authorization</a>
            </div>
        }
    }
</div>

