@model object
@{

    ViewData["Title"] = "load";
    var data = Model.ToString();
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Account</h1>
</div>

<div class="row">

    <div class="col-2 offset-5 text-center ">
    <a asp-action="Reload" class="btn btn-primary">Refresh</a>
    </div>
</div>
<div class="row text-center">
    <p>@data</p>
</div>
