@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<h1 class="text-center">Register</h1>
<hr />
<div class="row">
    <div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3 my-bg-transform">
        <form method="post" asp-action="Register" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            
            <div class="col">
                <div class="form-group  row">
                    <label class="col-12" asp-for="Email"></label>

                    <input class="form-control col-12" asp-for="Email" />

                    <span asp-validation-for="Email" class="text-danger col-12"></span>


                </div>
            </div>
          



            <div class="col">
                <div class="form-group  row">
                    <label asp-for="Password" class="col-12">Password</label>

                    <input class="form-control col-12" asp-for="Password" />

                    <span asp-validation-for="Password" class="text-danger col-12"></span>


                </div>
            </div>
            <div class="col">
                <div class="form-group  row">
                    <label asp-for="ConfirmPassword " class="col-12">Confirm Password</label>

                    <input class="form-control col-12" asp-for="ConfirmPassword" />

                    <span asp-validation-for="ConfirmPassword" class="text-danger col-12"></span>


                </div>
            </div>

           

            <div class="row">
                <div class="offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary sub-rot">Register</button>
                </div>
            </div>
            <div class="row">
                <div class="offset-2 col">
                    Already registered? <a asp-action="LogIn">Log In</a>
                </div>
            </div>




        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}